language: python
dist: xenial
python:
    - 2.7
    - 3.5
    - 3.6
    - 3.7
    - 3.8-dev
    - pypy
    - pypy3
matrix:
    include:
        - python: 3.6
          name: "Flake8"
          install:  pip install -U flake8
          script: flake8 --doctests src setup.py
# See https://github.com/pypa/pip/issues/3028 and
# https://github.com/zopefoundation/z3c.recipe.sphinxdoc/blob/a5be89162d9d3ee0d71df2cecf2d366f9e939517/setup.py#L61
# for the reason for `--no-binary=zc.recipe.egg`
before_install:
    - pip install -U pip setuptools
install:
    - pip install -U zope.testrunner coverage coveralls
    - pip install -U --no-binary=zc.recipe.egg -e ".[test]"
script:
    - export COVERAGE_HOME=$(pwd)
    - export COVERAGE_PROCESS_START=$COVERAGE_HOME/.coveragerc
    - coverage run -m zope.testrunner --test-path=src
after_success:
    - coverage combine
    - coveralls
notifications:
    email: false
cache: pip
