[buildout]
parts = test checker ctags
develop = .

[test]
recipe = zc.recipe.testrunner
eggs = z3c.recipe.i18n [test]

[checker]
recipe = lovely.recipe:importchecker
path = src/z3c/recipe/i18n

[ctags]
recipe = z3c.recipe.tag
eggs = ${test:eggs}
